@import '../../styles/lib/variables';
@import '../../styles/lib/mixins';
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.converter {
  padding-top: 30px;
  height: calc(100vh - 150px);

  .title {
    font-family: 'Pacifico', cursive;
    font-size: 38px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 10px;
  }

  .converterWrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60%;
  }
  .error{
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
  }
}